/* || General style rules */

*, *::after, *::before {
    box-sizing: border-box;
}

/* This as the class implies hide the lement visually */
.hide-visually {
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}

/* || Typography */

body {
    letter-spacing: 0.2px;
    font-size: 10px;
    line-height: 1.5;
    word-spacing: 0.8px;
}

h2 {
    font-size: 2.19rem;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}

h2{
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

p, a, img {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.94rem;
    font-weight: 400;
}

/* || Layout */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0;
}

/* || Section Vehicles */

.vehicles-card {
    margin: 8.5em 0;
    padding: 2.25em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.vehicles-card .card {
    padding: 4.8em;
    width: 33em;
}

.vehicles-card .sedans-card {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.vehicles-card .suvs-card {
    background-color: hsl(184, 100%, 22%);
}

.vehicles-card .luxury-card {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.vehicles-card .card a {
    outline: none;
    text-decoration: none;
    display: block;
    width: 9.97em;
    text-align: center;
    line-height: 3.1;
    background-color: hsl(0, 0%, 95%);
    border-radius: 3em;
    border: 2px solid transparent;
    margin-top: 1.9em;
    transition: background-color 0.5s, border 0.5s;
}

.vehicles-card .sedans-card a:link, 
.vehicles-card .sedans-card a:visited {
    color: hsl(31, 77%, 52%);
}

.vehicles-card .suvs-card a:link, 
.vehicles-card .suvs-card a:visited {
    color: hsl(184, 100%, 22%);
}

.vehicles-card .luxury-card a:link, 
.vehicles-card .luxury-card a:visited {
    color: hsl(179, 100%, 13%);
}

.vehicles-card .card a:focus, 
.vehicles-card .card a:hover {
    border: 2px solid hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
}

.vehicles-card .sedans-card a:focus, 
.vehicles-card .sedans-card a:hover {
    background-color: hsl(31, 77%, 52%);
}

.vehicles-card .suvs-card a:hover, 
.vehicles-card .suvs-card a:focus {
    background-color: hsl(184, 100%, 22%);
}

.vehicles-card .luxury-card a:hover, 
.vehicles-card .luxury-card a:focus {
    background-color: hsl(179, 100%, 13%);
}

.vehicles-card .card a:active {
    color: hsl(0, 0%, 95%);
}

/* || Footer */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    font-size: 11px;
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 64.69em) {

    /* || Section Vehicle card */

    /* a dummy card created to align cards vertically and also 
    horizontally when row increases on small viewport devicses*/
    .vehicles-card::after {
        content: '';
        width: 33em;
    }
}

@media screen and (min-width: 44.0625em) {
    
    /* || Section Vehicles card */

    .vehicles-card .sedans-card {
        border-top-right-radius: 0;
    }

    .vehicles-card .suvs-card {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media screen and (min-width: 64.6875em) {
    
    /* || Section Vehicles card */

    .vehicles-card {
        margin: 0;
    }

    .vehicles-card .card {
        width: 30.7em;
    }

    .vehicles-card .sedans-card {
        border-bottom-left-radius: 10px;
    }

    .vehicles-card .suvs-card {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .vehicles-card .luxury-card {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    
    .vehicles-card .card a {
        margin-top: 5.3em;
    }
}